
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body{
    margin: 0; 
    padding: 0;
    font-family: 'Quicksand',sans-serif;
}

h2,h3 {
    color: black;
}

footer {
    padding: 20px;
    color: rgb(36, 32, 32);
    background: aquamarine;
    text-align: center;
    font-weight: bold;
    clear: both;
}

.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

nav a{
    font-size: 10px;
    font-weight: 400px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    font-weight: bold;
}

.profile header{
    text-align: center;
}

.profile img{
    width: 200px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.6);
    border-radius: 5px;
    padding: 20px;
    /* margin-top: 20px; */
}

.jumbotron {
    font-size: 20px;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    color: rgb(36, 32, 32) ;
}

nav li{
    list-style: none;
    /* display: inline;
    margin-right: 20px; */
}  

nav {
 background: rgb(0, 250, 200);
 padding-block: 5px;
 position: sticky;
 top: 0;
 
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

#content{
    /* float: left;
    width: 75%; */
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

aside {
    /* float: right;
    width: 25%;
    padding-left: 20px ; */
    flex: 1;
}

@media screen and (max-width: 768px){
    main{
       flex-flow: column nowrap ;
    }
    main aside{
        align-self:stretch;
    }
}

header{
    display: inline;
}

nav ul{
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

main aside{
    align-self: center;
}